{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{file.file.name}}</title>
  <link rel="shortcut icon" type="image/png" href="../../static/images/avatar.png" />
  <link rel="stylesheet" href="{% static 'app/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'app/file.css' %}" />
  <style>
    .profile-avatar {
      max-width: 180px;
      border: 3px solid #013c58;
    }

    .file-list {
      max-height: 400px;
      overflow-y: auto;
    }

    .card-long {
      min-height: 800px;
    }
  </style>
</head>
<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
    data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">

    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-lg-11">
            <div class="card p-5 card-long" id="box-form">
              <div class="row h-100">


                
                <div class="col-md-3 text-center border-end d-flex flex-column align-items-center justify-content-center">
                  <div>
                    <form action="" method="post">
                      {% csrf_token %}
                    <button name="comeback" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" >назад</button>
                    </form>
                  </div>
                 
                <div>
                  <!-- <h2>скачать файл</h2> -->
                  <h2> <a href="{{ file.file.url }}" download="{{ file.file.url }}">скачать файл</a> </h2>
                </div>
                <div>
                  
                  <form action="" method="post" enctype="multipart/form-data" class="dropzone" name="form2">
                    {% csrf_token %}
                    {% if user.id == file.father_user %}
                    <h2>изменить файл</h2>
                    {{ form_replace_file.as_p }}
                    <!-- <input name="file_upload" type="file" multiple></input> -->
                    <button class="btn btn-warning text-white" type="submit" name="ReplaceFiles_button">Отправить файл</button>
                    {% endif %}
                  </form>

                </br>
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if user.id == file.father_user %}
                <div>
                  <button class="btn btn-warning text-white" type="submit" name="DeleteFiles_button">Удалить файл</button>
                </div>
                {% endif %}
              </form>
                </div>

                </div>
                <div class="col-md-9 d-flex flex-column">
                  <h4 class="fw-bold">{{ file.file.name }}</h4>
                  <form action="" method="post" name="form_add_user">
                    {% csrf_token %}
                    <div>
                    <h4>Пользователи с доступом к файлу:</h4>
                    {% for user_iter in users %}
                    <h5>-{{ user_iter.username }}</h5>
                  {% endfor %}
                  <h5>---------------------------------</h5>

                </div>
                {% if user.id == file.father_user %}
                    <div class="mb-4">
                        <input type="text" class="form-control" id="inputUsername" name="user" placeholder="Введите имя пользователя">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                      </div>  
                    </br>
                    <div name="role">
                      {% for choice in form_add_user.role %}
                      
                      <span class="radio">{{ choice.tag }}</span>
                      {{ choice.choice_label }}</br>
                    {% endfor %}
                    </div> 

                    <button name="addUserbutton" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" >добавить</button>
                {% endif %}
                {% for user_iter in non_signatories %}
                  {% if user_iter.id == user.id %}
                  <button name="sign" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" >подписать</button>
                  {% endif %}
                {% endfor %}
                </form>
                </div>
                </div>

              </div> 
            </div> 
          </div> 
        </div> 
      </div>
    </div>
  </div>
</body>
</html>
