{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Профиль</title>
  <link rel="shortcut icon" type="image/png" href="../../static/images/avatar.png" />
  <link rel="stylesheet" href="{% static 'app/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'app/file.css' %}" />
  <style>
    .profile-avatar {
      max-width: 180px;
      border: 3px solid #013c58;
    }

    .file-list {
      max-height: 400px;
      overflow-y: auto;
    }

    .card-long {
      min-height: 800px;
    }
  </style>
</head>
<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
    data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">

    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-lg-11">
            <div class="card p-5 card-long" id="box-form">
              <div class="row h-100">
                <div class="col-md-3 text-center border-end d-flex flex-column align-items-center justify-content-center">
                  <img src="images/avatar.png" alt="Аватар" class="rounded-circle img-fluid mb-3 profile-avatar">
                  <h4 class="fw-bold">{{ user.username }}</h4>
                </div>
                <div class="col-md-9 d-flex flex-column">







                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="fw-bold mb-0">Ваши файлы</h5>
                    <form action="{% url 'logout' %}?next=/profile" method="post">
                      {% csrf_token %}
                    <button class="btn btn-warning text-white">Выйти</button>
                  </form>
                  </div>
                  
                  <form method="post" novalidate>
                    {% csrf_token %}
                  <div> 
                    <div class="form-group">
                      {{ form1.age_group.label_tag }}
                      {{ form1.age_group }}
                      {% if form1.age_group.errors %}
                          <div class="invalid-feedback d-block">
                              {% for error in form1.age_group.errors %}
                                  {{ error }}
                              {% endfor %}
                              
                          </div>
                      {% endif %}
                      <button type="submit" class="btn btn-primary" name="filther">Сортировать</button>
                  </div>
                  </div>
                </form>

                  <div class="file-list">
                    <ul class="list-group">
                      {% if this_user_files %}
                        {% for file in this_user_files %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          {{ file.file.name }} 
                          <form action="{{file.id}}/" method="post">
                            <h>{{ file.authorized_users }}</h>
                          {% csrf_token %}
                          <button name="addUser_button" class="badge bg-primary rounded-pill">Подробнее</button>

                          </form>
                        </li>
                        {% endfor %}
                        {% else %}
                        <h>Таких файлов нет</h>
                      {% endif %}
                    </ul>
                  </div>


                  <div class="col-md-9 d-flex flex-column">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <form action="" method="post" enctype="multipart/form-data" class="dropzone">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!-- <input name="file_upload" type="file" multiple></input> -->
                        <button class="btn btn-warning text-white" type="submit" name="UploadFiles_button">Отправить файл</button>
                      </form>

                  </div>

                </div>
              </div> 
            </div> 
          </div> 
        </div> 
      </div>
    </div>
  </div>
</body>
</html>
