{% load static %}

<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration</title>
  <link rel="shortcut icon" type="image/png" href="../../static/images/logo0.png" />
  <link rel="stylesheet" href="{% static 'app/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'app/file.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-6 col-lg-4 col-xs-6">
            <div class="card mb-0" id="box-form"  >
              <div class="card-body">
                <div class="mb-4">
                  <h1 class="text-center">PaperClipped</h1>
                </div>
                <form method="post">
                  {% csrf_token %}
                  
                  <div class="mb-4">
                    <label for="InputUsername1" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="InputUsername1" aria-describedby="emailHelp" name="username" placeholder="Введите ваше имя пользователя">
                  </div>
                  <div class="mb-4">
                    <label for="InputEmail1" class="form-label">Электронная почта</label>
                    <input type="email" class="form-control" id="InputEmail1" name="email" placeholder="Введите ваш эл. адрес">
                  </div>
                  <div class="mb-4">
                    <label for="InputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="InputPassword1" name="password1" placeholder="Введите пароль">

                    </div>
                  <div class="mb-4">
                    <input type="password" class="form-control" id="InputRepeatPassword1" name="password2" placeholder="Повторите пароль">

                  </div>
                 
                  <button  type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" >Регистрация</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">У вас уже есть аккаунт?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'login' %}">Войти</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>